# What are data structures, and why are they important?
Ans : Data structures are used to store and organise data and
      we can we manuplate data efficiently using data structures and this makes to understand the code easy

#Explain the difference between mutable and immutable data types with examples
Ans:Mutable - If a data type is mutable means we can modify and access the data based on our requirement ex- list and sets
a= [1, 2, 3,4]
a[0]= 9
a= [9,2,3,4]

Immutable - If a data type is immutable means we cannot modify and access the data based on our requirement ex- string and tuple
t = (o, p, k)
t[1]= "i"
when we execute it will throw an error.

# What are the main differences between lists and tuples in Python3


*   list -mutable,more methods can use, it takes more memory as it is mutable, size is not fixed, symbol - []
*   tuple - immutable, more methods cannot use, it takes less memory as it is immutable and size is fixed,symbol - ()

#Describe how dictionaries store data


*  Dictionaries stores data in the format of key , value pairs.
bag =  {"fruit : "mango:,
     "pencil" : "apsara",
     "box" : "orange colour"
}

# Why might you use a set instead of a list in Python3


*   sets won't store duplicates as like list
*   if we don't want items to change we use set(using frozen set) instead of list

# What is a string in Python, and how is it different from a list3


*   strings are sequence of characters and we can manipulate textual data
*   strings are immutable where as list are mutable
*   string can store only characters but list can store any data type

# How do tuples ensure data integrity in Python3


*   As tuple are immutable and we cannot modify the data so it is more useful to store unique data in tuple and it will remain throught the life

# What is a hash table, and how does it relate to dictionaries in Python3


*   It store data in key , value pairs and if we want interact with dictionaries we can use these hash table

# Can lists contain different data types in Python3


* yes, as list are heterogeneous in nature we can store different data types in it.

#  Explain why strings are immutable in Python

*   strings are immutable because once we created any any string we cannot modify the data in it .
*   if we want to change it will create another string

# What advantages do dictionaries offer over lists for certain tasks3


*   fetching of data will be easy in case dictionaries compared to list as they are specified using keys
*   time consumption will be less

#  Describe a scenario where using a tuple would be preferable over a list


*  As tuple are immutable we cannot chage the data once it created we use tuple to store unique data because it won't store duplicate values list.

*  example - We all have aadhar card and the number has to be unique for everyone in that case we use tuples to store aadhar number

# How do sets handle duplicate values in Python3


*   sets are unordered and it contains unique collection of elements
*   if we want store any duplicate elements it won't store and it will ignore it.

# How does the “in” keyword work differently for lists and dictionaries3


*   in list we use "in" keyword to fetch the index elemts directly
*   in dictionaries "in" keyword is used to fetch values using keys.

# Can you modify the elements of a tuple? Explain why or why not


*  We cannot modify the elemnts in tuple because tuple are immutable in nature and once it created the size will be fixed so that u cannot modify the elements in it.

# What is a nested dictionary, and give an example of its use case


*   Having dictionaries inside a dictionary is called nested dictionary

In [ ]:
#example of nested dictionaries
class_record = {
    "boys":{'ram':'1st rank','shyam':'2nd rank'},
    "girls":{'rani':'3rd rank','pooja':'4th rank'}
}
print(class_record)

{'boys': {'ram': '1st rank', 'shyam': '2nd rank'}, 'girls': {'rani': '3rd rank', 'pooja': '4th rank'}}

#  Describe the time complexity of accessing elements in a dictionary


*   accessing elements in dictionary is easy beacause we are accessing the values through keys as keys are unique

# In what situations are lists preferred over dictionaries

*  if we want an ordered collections of things we use lists over dictionaries beacoause dictionaries are unordered
*  keyas cannot be duplicate in dictionaries but in list we can have many duplicates

# Why are dictionaries considered unordered, and how does that affect data retrieval


*    Items in dictionary won't store data in defined orders that's why they are unordered so that we cannot access the particular element.
*    Dictionary is unordered beacuse in dictionary we can use any data types but in keys are immutable

#  Explain the difference between a list and a dictionary in terms of data retrieval.


* In list we can access any element using indexing concept but we cannot access in dictionary using indexing concept as they are unordered.
* In list we can add or remove data at any index number but in case of dictionary we cannot data or remove particular data using indexing because dictionaries are unordered.

# Practical Questions

In [22]:
# P Write a code to create a string with your name and print it
Name = "Durga Bhavani"
print(Name)

Durga Bhavani

In [23]:
# Write a code to find the length of the string "Hello World"
String_length = "Hello World"
print(len(String_length))

11

In [24]:
#  Write a code to slice the first 3 characters from the string "Python Programming"
characters = "Python Programming"
print(characters[0:3])

Pyt

In [25]:
# Write a code to convert the string "hello" to uppercase
code = "hello"
print(code.upper())

HELLO

In [35]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
sentence.replace("apple","orange")

'I like orange'

In [37]:
# Write a code to create a list with numbers 1 to 5 and print it
num_list = [1,2,3,4,5]
print(num_list)

[1, 2, 3, 4, 5]

In [39]:
#  Write a code to append the number 10 to the list [1, 2, 3, 4]
adding_num = [1, 2, 3, 4]
adding_num.append(10)
print(adding_num)

[1, 2, 3, 4, 10]

In [40]:
#  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
remove_num = [1, 2, 3, 4, 5]
remove_num.remove(3)
print(remove_num)

[1, 2, 4, 5]

In [41]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [46]:
#  Write a code to reverse the list [10, 20, 30, 40, 50].
reverse =  [10, 20, 30, 40, 50]
print(reverse[::-1])

[50, 40, 30, 20, 10]

In [49]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [50]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colours = ('red', 'green', 'blue', 'yellow')
colours[1:]

('green', 'blue', 'yellow')

In [51]:
#  Write a code to find the minimum number in the tuple (10, 20, 5, 15)
a = (10, 20, 5, 15)
print(min(a))

5

In [56]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
b= ('dog', 'cat', 'rabbit')
print(b.index('cat'))

1

In [57]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ('applae','banana', 'orange','kiwi')
'kiwi' in fruits

True

In [127]:
#  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
A = {'a', 'b', 'c'}
print(A)

{'a', 'b', 'c'}

In [141]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
A = {1, 2, 3, 4, 5}
A.clear()
print(A)

set()

In [64]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}
B = {1, 2, 3, 4}
B.remove(4)
print(B)

{1, 2, 3}

In [66]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
print(set_1 |set_2)

{1, 2, 3, 4, 5}

In [136]:
#  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
m = {1, 2, 3}
n = {2, 3, 4}
print(m & n)

{2, 3}

In [68]:
#  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dictionary = {'name' : 'ram', 'age' : '27', 'city' : 'Hyderabad'}
print(dictionary)

{'name': 'ram', 'age': '27', 'city': 'Hyderabad'}

In [72]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
Dictionary = {'name': 'John', 'age': 25}
Dictionary['country'] = 'USA'
print(Dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [76]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
A = {'name': 'Alice', 'age': 30}
print(A['name'])

Alice

In [86]:
#  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
B = {'name': 'Bob', 'age': 22, 'city': 'New York'}
B.pop('age')
print(B)

{'name': 'Bob', 'city': 'New York'}

In [92]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
name = {'name': 'Alice', 'city': 'Paris'}
if 'city' in name :
  print("Exist")
else:
  print("not exist")

Exist

In [96]:
#  Write a code to create a list, a tuple, and a dictionary, and print them all.
a= [[1,2],(3,4),{6:7}]
print(a)

b = ("a", "c")
print(b)

D = {'f':'g','h':'o'}
print(D)

[[1, 2], (3, 4), {6: 7}]
('a', 'c')
{'f': 'g', 'h': 'o'}

In [98]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)

list = [89, 56, 100, 4, 55]
list.sort()
print(list)

[4, 55, 56, 89, 100]

In [101]:
#  Write a code to create a list with strings and print the element at the third index.
string_list = ["name", "age", "class", "number","height","weight"]
print(string_list[3])

number

In [110]:
# Write a code to combine two dictionaries into one and print the result.
dic_1 = {1 : "twenty members"}
dic_2 = {2 : "thirty members"}

dic_1.update(dic_2)
print(dic_1)

{1: 'twenty members', 2: 'thirty members'}

In [143]:
# Write a code to convert a list of strings into a set
a = ["table","eraser", "kick"]
b = set(a)
print(b)

TypeError: 'set' object is not callable